@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar {
    width: 11px;
    background-color: #fff; }
  
  ::-webkit-scrollbar-thumb {
    background: #c3c3c3;
}
.backToTop{
    position: fixed;
    bottom: 800px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: #007064;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100000;
    box-shadow: 0 15px 30px rgba(0,0,0,.9);
    visibility: hidden;
    opacity: 0;
}
.backToTop{
color: #fff;
position: fixed;
justify-content: center;
align-items: center;
text-align: center;
font-size: 30px;
}
.backToTop a{
    text-decoration: none;
    color: #fff;
}
.backToTop.top{
    color: #fff;
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}
/*Padding for all website's parts*/
.padding{
    padding: 80px 60px;
}
/*Class to apply on scroll*/
.Fixed{
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 30;
   background: #fff;
}
.container{
    position: relative;
    min-height: 100vh;
}
/* Cookies */
.close{
    display: none;
}
.fixcookies{
    z-index: 0;
}
.cookies{
    position: Fixed;
    background: #007064;
    top: 0px;
    left: 0px;
    padding: 20px 60px;
    color: #fff;
    width: 100%;
    font-size: 13px;
}
.cookies i{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top:0;
    font-size: 15px;
}
.cookies p a {
    font-weight: 500;
    background: #fff;
    padding: 6px 15px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 20px;
    color: #007064;
}

/*------------------------------------------------------Acceuil---------------------------------------------------------*/
#home{
    background: #fff;
    padding-top: 0;
}

.coordonnees{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #007064;
    color: #fff;
    display: flex;
    padding:15px 60px;
    font-size: 13px;
    line-height: 23.2px;
}
.coordonnees div span i {
    font-size: 16px;
}
.coordonnees .adresse,.coordonnees .phone,.coordonnees .email{
    padding-right: 50px;
    letter-spacing: 0.8px;
}
.coordonnees .adresse span,.phone span,.email span{
    padding-right: 7px;
}
.menuPluslogo{
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 0px 30px; 
    width: 100%;
}
header{
    position: absolute;
    width: 100%;
    left: 0;
}
.menuPluslogo .logo-header{
    margin-top: 6px;
    margin-left: -20px;
    z-index: 1;
}
.menuPluslogo ul{
    z-index: 1;
    text-align: right;
    position: relative;
    display: flex;
}
.menuPluslogo ul li {
    list-style: none;
    margin-left:60px;
    padding: 6px;
}
.menuPluslogo ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20.3px;
    font-weight: bolder;
    padding: 6px;
    color: #007064;
    text-decoration: none;
}
.menuPluslogo ul li a:hover,header ul li a.active {
    color: #fff;
    font-weight: 500;
}

.menuPluslogo ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#007064;
    z-index: -1;
    transition: 0.5s ease-in-out;
}
.menuPluslogo ul li a:hover:before,header ul li a.active:before{
    width: 100%;
}

@media (max-width:991px){

    .container{
        padding: 10px;
        min-height: 100vh;
        background: #fff;
    }
    .Fixed{
        position: absolute;
    }
    .coordonnees{
        padding: 10px;
        display: inline-block;
        width: 100%;
    }
    .coordonnees .adresse,.coordonnees .phone,.coordonnees .email{
    padding: 0;
    }
    .menuPluslogo .logo-header img{
     width: 350px;
     height: 75px;
     margin-left: -45px;
    }
    .menuPluslogo{
        background: #fff;
    }
    .menuPluslogo .toggle{
        position: absolute;
        width: 60px;
        height: 20px;
        top: 30px;
        right: 10px;
        cursor: pointer;
        z-index: 1000;
      }
      .menuPluslogo .toggle span{
          position: absolute;
          background: #007064;
          width: 50px;
          height: 2.5px;
          transition: 0.6s;
        }
        .menuPluslogo .toggle .one{
          top: 0;
      }
      .menuPluslogo .toggle .two, .menuPluslogo .toggle .three{
          top: 16px;
      }
       header .toggle .four{
          top: 30px;
      }
      .menuPluslogo .active .one, .menuPluslogo .active .four{
          display: none;
      }
      .menuPluslogo .active .two{
          transform:rotate(45deg);
          background: #007064;
      }
      .menuPluslogo .active .three{
          transform:rotate(-45deg);
          background: #007064;
      }
      .menuPluslogo ul{
        padding: 100px 10px ;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100vh;
        z-index: 2;
        color: #007064;
        background: #fff;
    }
    .menuPluslogo  .active{
        display: block;
    }
    .menuPluslogo ul li a:hover,header ul li a.active {
        color: #007064;
        background: #fff;
    }
    .menuPluslogo ul li a:before {
        background: #fff;
        color: #007064;
    }
    .menuPluslogo ul li {
        margin:0;
    }
    .menuPluslogo ul li a{
        position: relative;
        text-decoration: none;
        padding: 25px 0;
        font-size: 1em;
        color: #007064;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    }
/*----------------------------------------------------------------------FOOTER*-------------------------------------------*/
.footer{
    position: relative;
}
.img-footer{
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   height: 100px;
   width: 100%;
   height: 100%;
   opacity: 0.2;
}
.all-footer-parts{
    display: flex;
    margin-bottom: 0;
    padding: 100px 60px;
}
.Marodesclean,.plan-site,.contactfoot,.horaire{
  width: 25%;
  padding: 15px;
  z-index: 1000000;
}
.Marodesclean h2,.plan-site h2,.contactfoot h2,.horaire h2{
    color: #007064;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.both{
    display: flex;
    padding: 10px 0;
    margin-bottom: 20px;
}
.both .trait2{
    width: 10px;
    height: 2px;
    background: #007064;
}
.both .trait1{
    margin-right: 5px;
    width: 50px;
    height: 2px;
    background: #007064;
}
.Marodesclean p{
color: #3c3c3c;
font-size: 15px;
line-height: 23.2px;
}
.horaire{
    border: none;
}
.plan-site ul{
    list-style: none;
}

.plan-site ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 8px;
}
.plan-site ul li a:hover{
    color: #007064;
}
.plan-site ul li a i{
    color: #007064;
    padding-right: 5px;
    font-weight: bolder;
    font-size: 14px;
}
.contactfoot .container-footer div span i{
    font-size: 19px;
    color: #007064;
    cursor: pointer;
    margin-right: 15px;
}
.contactfoot .container-footer div span i:hover{
    color: #007064;
}
.contactfoot .container-footer div{
    padding-bottom: 15px;
}
.contactfoot .container-footer div span{
    font-size: 14px;
    font-weight: lighter;
    line-height: 21.8px;
    color: #3c3c3c;
}
.horaire .horaire-douveture{
    font-size: 14px;
    font-weight: lighter;
    line-height: 23.2px;
    color: #3c3c3c;
    padding-bottom: 15px;
}

.horaire .horaire-douveture i {
    color: #007064;
    margin-right: 10px;
}

@media (max-width:991px){
    .footer{
        display: block;
        padding: 10px;
    }
    .Marodesclean,.plan-site,.contactfoot,.horaire{
        width: 100%;
        border: none;
    }

 }
/*---------------------------------------------------------COPYRIGHT---------------------------------------------------*/
.Copyright{
    background: #007064;
    padding: 30px 60px;
    color: #ebe9e9;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
.Copyright a{
    text-transform: uppercase;
    color:#ebe9e9;
    text-decoration: none;
    font-size: 15px;
}
.Copyright a:hover{
    text-decoration: underline;
}
@media (max-width:991px){
    .Copyright{
        padding: 10px;
        font-size: 12px;
    }
    .Copyright a{
    font-size:12px;
    }

}