@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --second-color: #065446;
  --third-color: #197163;
  --Primary-color: #a3d137;
  --text-white-color: #fff;
  --text-grey-color: #111;
}
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 12px;

  background-color: var(--text-white-color);
}

::-webkit-scrollbar-thumb {
  height: 100px;
  background: var(--third-color);
}

/*stop scrolling*/
.stop-scrolling {
  overflow-y: hidden;
}
/* back to top button*/
.backToTop {
  position: fixed;
  bottom: 10px;
  right: 5px;
  width: 50px;
  height: 50px;
  background: var(--third-color);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 1;
  z-index: 1000000000000000000;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.backToTop i {
  color: var(--text-white-color);
}
.backToTop:hover {
  background-color: var(--Primary-color);
}

.top {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}
/*Description section*/
.description-section {
  padding: 0 200px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: lighter;
}
/* title section*/
.title-section {
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  color: var(--third-color);
}
.center-text {
  text-align: center;
}
/*Padding for all website's parts*/
.section-padding {
  padding: 100px 60px;
}
/* padding for all section's container*/
.container-padding {
  padding-top: 100px;
}
.container {
  position: relative;
  min-height: 100vh;
}
/* Cookies */
.close {
  display: none;
}
.fixcookies {
  z-index: 0;
}
.cookies {
  background: var(--text-white-color);
  padding: 0 60px;
  opacity: 0.9;
  color: var(--second-color);
  width: 100%;
  font-size: 13px;
  z-index: 13;
}
.cookies .cookies-container {
  display: flex;
  padding: 16px 0;
}
.cookies .cookies-container p {
  padding: 5px 0px;
  color: var(--second-color);
}
.cookies i {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 15px;
  z-index: 100;
}
.cookies a {
  font-weight: 500;
  background: var(--Primary-color);
  padding: 6px 15px;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 20px;
  color: #fff;
  z-index: 100;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.cookies a:hover {
  background-color: var(--third-color);
}
/* Underline title*/
.underline {
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
}
.underline .under-one {
  height: 2px;
  width: 50px;
  display: block;
  margin-right: 10px;
}
.underline .under-two {
  display: block;
  height: 2px;
  width: 20px;
}
/*------------------------------------------------------Acceuil---------------------------------------------------------*/
.home-section {
  height: 65vh;
  display: grid;
  position: relative;
  width: 100%;
}
.green-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 28%;
  background: var(--second-color);
  z-index: 15;
  opacity: 0.6;
}

.header-container {
  z-index: 20;
  width: 100%;
}
.header-container header .MenuPlusLogo {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 60px;
  min-width: 100%;
}
.header-container header .MenuPlusLogo .logo-header img {
  z-index: 12;
  padding: 10px 0;
  height: 80px;
}
.header-container header .MenuPlusLogo .logo-header {
  width: 30%;
}
.header-container header .MenuPlusLogo .mobile-navbar {
  width: 55%;
}
.header-container header .MenuPlusLogo .mobile-navbar ul {
  z-index: 13;
  text-align: right;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header-container header .MenuPlusLogo .mobile-navbar ul li {
  list-style: none;
}
.header-container header .MenuPlusLogo .mobile-navbar ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13.5px;
  line-height: 30.3px;
  font-weight: 700;
  padding: 6px;
  color: var(--text-white-color);
  text-decoration: none;
}
.header-container header .MenuPlusLogo .mobile-navbar ul li a:hover,
header .mobile-navbar ul li a.active {
  color: var(--text-white-color);
  font-weight: 700;
}
.header-container header .MenuPlusLogo .mobile-navbar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--Primary-color);
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.header-container header .MenuPlusLogo ul li a:hover:before,
header ul li a.active:before {
  width: 100%;
}
.fix-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.fix-navbar .MenuPlusLogo {
  background: var(--third-color);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.295);
}

.header-container .fix-navbar .MenuPlusLogo .mobile-navbar ul li a {
  color: var(--text-white-color);
  font-weight: 700;
  line-height: 27.3px;
}
.header-container .fix-navbar .MenuPlusLogo .mobile-navbar ul li a:before {
  background-color: var(--third-color);
}
.header-container .fix-navbar .MenuPlusLogo .mobile-navbar ul li a:hover {
  color: var(--Primary-color);
}
.home-description-container {
  padding: 0 60px;
  z-index: 19;
  width: 60%;
}
.home-description-container .home-description h1 {
  padding: 10px 0;
  color: var(--text-white-color);
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
}
.home-description-container .home-description .underline .under-one {
  background-color: var(--text-white-color);
}

.home-description-container .home-description .underline .under-two {
  background-color: var(--Primary-color);
}
.icons {
  z-index: 19;
  padding: 0 60px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.icons .icon {
  display: flex;
  float: right;
}
.icons .icon li {
  list-style: none;
  margin-right: 25px;
}
.icons .icon li:last-child {
  margin-right: 0;
}
.icons .icon li a i {
  max-height: 24px;
  font-size: 28px;
  color: var(--Primary-color);
  cursor: pointer;
}
.icons .icon li a i:hover {
  color: var(--text-white-color);
}
.icons .icon li:hover a i {
  transform: translateY(-10px);
}
.background-image {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65vh;
}
.background-image img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-container header .MenuPlusLogo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .header-container header .MenuPlusLogo .logo-header img {
    width: 200px;
    height: 60px;
  }
  .MenuPlusLogo .toggle {
    position: relative;
    width: 60px;
    height: 35px;
    cursor: pointer;
    z-index: 20;
  }
  .MenuPlusLogo .toggle span {
    position: absolute;
    right: 0;
    background: var(--text-white-color);
    width: 50px;
    height: 2.5px;
    transition: 0.6s;
  }
  .MenuPlusLogo .toggle .one {
    top: 0;
  }
  .MenuPlusLogo .toggle .two,
  .MenuPlusLogo .toggle .three {
    top: 16px;
    background: var(--third-color);
    width: 30px;
  }
  header .toggle .four {
    top: 30px;
  }
  .header-container header .MenuPlusLogo .active .one,
  .header-container header .MenuPlusLogo .active .four {
    display: none;
  }
  .header-container header .MenuPlusLogo .active .two {
    transform: rotate(45deg);
    width: 45px;
    background: var(--text-white-color);
  }
  .header-container header .MenuPlusLogo .active .three {
    transform: rotate(-45deg);
    width: 45px;
    background: var(--text-white-color);
  }
  .header-container header .MenuPlusLogo .mobile-navbar.active {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .header-container header .MenuPlusLogo .mobile-navbar {
    padding: 100px 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: var(--text-white-color);
    background: var(--third-color);
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul {
    display: block;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul li {
    padding: 10px 0;
  }
  .header-container header .MenuPlusLogo ul li a {
    z-index: 6;
    text-decoration: none;
    color: var(--text-white-color);
    font-weight: 700;
    text-transform: uppercase;
  }
  .header-container header .MenuPlusLogo ul li a:hover,
  .header-container header .MenuPlusLogo ul li a.active {
    font-weight: 700;
  }

  .fix-navbar {
    display: none;
  }
  .stop-scrolling {
    overflow-y: hidden;
  }
  .home-description-container {
    padding: 0 10px;
    width: 100%;
  }

  .home-description-container .home-description h1 {
    padding: 10px 0;
    font-size: 25px;
  }

  .icons {
    display: block;
    z-index: 19;
    padding: 0 10px;
  }

  .container {
    min-height: 100vh;
  }
  .Fixed {
    position: absolute;
  }
  .cont-slid {
    width: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
  }
  .slide img {
    height: 100%;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 767px max) */
@media only screen and (max-width: 767px) {
  .header-container header .MenuPlusLogo .logo-header img {
    width: 120px;
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul li a {
    font-size: 8px;
  }
  .icons .icon li a i {
    font-size: 12px;
  }
  .home-description-container {
    padding: 0 10px;
    width: 75%;
  }

  .home-description-container .home-description h1 {
    padding: 8px 0;
    font-size: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-container header .MenuPlusLogo .logo-header img {
    width: 130px;
  }
  .header-container header .MenuPlusLogo .mobile-navbar ul li a {
    font-size: 10px;
  }
  .icons .icon li a i {
    font-size: 18px;
  }
  .home-description-container {
    padding: 0 60px;
    width: 70%;
  }

  .home-description-container .home-description h1 {
    padding: 10px 0;
    font-size: 25px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-container header .MenuPlusLogo .logo-header img {
    width: 140px;
  }
  .header-container header .MenuPlusLogo ul li a {
    font-size: 12px;
  }
  .icons .icon li a i {
    font-size: 24px;
  }
  .home-description-container {
    padding: 0 60px;
    width: 70%;
  }

  .home-description-container .home-description h1 {
    padding: 10px 0;
    font-size: 30px;
  }
  .home-description-container .home-description p {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .home-description-container .home-description .Decouverir-services-boutton {
    font-size: 14px;
    padding: 12px 30px;
  }
  .navigation-auto div {
    padding: 4px;
  }
  .manual-btn {
    padding: 4px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/*---------------------------------------------------------SERVICE DETAILS----------------------------------------------*/
.service-details {
  min-height: 100vh;
  padding: 100px 60px;
  background-color: #fff;
}
.service-details .service-container h2 {
  font-size: 36px;
  line-height: 43.2px;
  color: var(--second-color);
  text-transform: uppercase;
  font-weight: 800;
}
.service-details .service-container .underline .under-one {
  background-color: var(--second-color);
}
.service-details .service-container .underline .under-two {
  background-color: var(--Primary-color);
}
.service-details .service-container .content1,
.service-details .service-container .content3,
.service-details .service-container .content2 {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.service-details .service-container .content1 p,
.service-details .service-container .content3 p,
.service-details .service-container .content3 p {
  width: 50%;
  font-size: 16px;
  line-height: 27.6px;
  color: var(--text-grey-color);
}

.service-details .service-container .content1 ul li,
.service-details .service-container .content3 ul li {
  list-style: none;
}
.service-details .service-container .content1 ul li a,
.service-details .service-container .content3 ul li a {
  text-decoration: none;
  color: var(--text-grey-color);
  line-height: 40px;
}
.service-details .service-container .content1 ul li a i,
.service-details .service-container .content3 ul li a i {
  color: var(--Primary-color);
  font-size: 20px;
  margin-right: 15px;
}
.service-details .service-container .content1 p,
.service-details .service-container .content3 p {
  padding: 0px 40px;
}
.service-details .service-container .content1 ul,
.service-details .service-container .content3 ul {
  padding: 0px 40px;
  width: 50%;
}
.service-details .service-container .content1 ul h2,
.service-details .service-container .content3 ul h2 {
  font-size: 22px;
}
.service-details .service-container .content2 .service-img {
  background-color: var(--second-color);
}
.service-details .service-container .content2 .service-img img {
  width: 400px;
  height: 100%;
  opacity: 0.7;
}
.service-details .service-container .content4 {
  display: flex;
  padding: 40px 0;
}
.service-details .service-container .content4 p {
  width: 50%;
  padding: 0 40px;
  font-size: 16px;
  line-height: 27.6px;
  color: var(--text-grey-color);
}
.service-details .service-container .content4 .content4-part2 {
  width: 50%;
  padding: 0 40px;
}
.service-details .service-container .content4 .content4-part2 .container4 {
  width: 100%;
}
.service-details .service-container .content4 .content4-part2 .container4,
.service-details .service-container .content4 .content4-part2 .container4,
.service-details .service-container .content4 .content4-part2 .container4 {
  margin-bottom: 20px;
}

.service-details .service-container .content4 .content4-part2 .container4 p,
.service-details .service-container .content4 .content4-part2 .container4 p,
.service-details .service-container .content4 .content4-part2 .container4 p {
  width: 100%;
  padding: 0;
  font-size: 16px;
  line-height: 27.6px;
  color: var(--text-grey-color);
}
.service-details .service-container .content4 .content4-part2 .container4 h2,
.service-details .service-container .content4 .content4-part2 .container4 h2,
.service-details .service-container .content4 .content4-part2 .container4 h2 {
  width: 100%;
  font-size: 22px;
}
.service-details .service-container .content4 .content4-part2 .container4 h2 i,
.service-details .service-container .content4 .content4-part2 .container4 h2 i,
.service-details .service-container .content4 .content4-part2 .container4 h2 i {
  color: var(--Primary-color);
  margin-right: 10px;
}
/* Small devices (portrait tablets and large phones, 767px max) */
@media only screen and (max-width: 767px) {
  .service-details {
    min-height: 100vh;
    padding: 100px 10px;
  }
  .service-details .service-container .content1,
  .service-details .service-container .content3,
  .service-details .service-container .content2,
  .service-details .service-container .content4 {
    display: block;
    justify-content: space-between;
    padding: 30px 0;
  }
  .service-details .service-container .content1 p,
  .service-details .service-container .content3 p,
  .service-details .service-container .content4 p {
    width: 100%;
    padding: 0px 0px;
  }
  .service-details .service-container .content1 ul,
  .service-details .service-container .content3 ul,
  .service-details .service-container .content4 .content4-part2 {
    width: 100%;
    padding: 30px 0px;
  }
  .service-details .service-container .content2 .service-img {
    height: 250px;
    margin-bottom: 20px;
    padding: 0;
  }
  .service-details .service-container .content2 .service-img:last-child {
    margin-bottom: 0px;
  }
  .service-details .service-container .content2 .service-img img {
    width: 100%;
    height: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service-details {
    min-height: 100vh;
    padding: 100px 10px;
  }
  .service-details .service-container .content1,
  .service-details .service-container .content3,
  .service-details .service-container .content2,
  .service-details .service-container .content4 {
    display: block;
    justify-content: space-between;
    padding: 30px 0;
  }
  .service-details .service-container .content1 p,
  .service-details .service-container .content3 p,
  .service-details .service-container .content4 p {
    width: 100%;
    padding: 0px 0px;
  }
  .service-details .service-container .content1 ul,
  .service-details .service-container .content3 ul,
  .service-details .service-container .content4 .content4-part2 {
    width: 100%;
    padding: 30px 0px;
  }
  .service-details .service-container .content2 .service-img {
    height: 250px;
    margin-bottom: 20px;
    padding: 0;
  }
  .service-details .service-container .content2 .service-img:last-child {
    margin-bottom: 0px;
  }
  .service-details .service-container .content2 .service-img img {
    width: 100%;
    height: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .service-details .service-container .content2 {
    display: block;
    justify-content: space-between;
    padding: 30px 0;
  }
  .service-details .service-container .content2 .service-img {
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
  .service-details .service-container .content2 .service-img img {
    width: 100%;
  }
  .service-details .service-container .content2 .service-img:last-child {
    margin-bottom: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/*----------------------------------------------------------------------FOOTER*-------------------------------------------*/
.footer {
  position: relative;
}
.all-footer-parts {
  display: flex;
  margin-bottom: 0;
  padding: 100px 60px;
  background: var(--second-color);
}
.all-footer-parts .footer-part .footer-part1,
.all-footer-parts .footer-part .footer-part2 {
  display: flex;
}
.footer-part {
  width: 70%;
  margin-left: 50px;
}
.footer-part .footer-part1 .plan-site,
.footer-part .footer-part1 .contactfoot,
.footer-part .footer-part2 .horaire,
.footer-part .footer-part2 .inscription-newsletter {
  width: 50%;
}
.footer-part .footer-part1 {
  padding-bottom: 20px;
}
.footer-part .footer-part2 {
  padding-top: 40px;
}
.Marodesclean {
  width: 30%;
}
.Marodesclean h2,
.plan-site h2,
.contactfoot h2,
.horaire h2,
.inscription-newsletter h2 {
  color: var(--text-white-color);
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bolder;
}
.Marodesclean .underline,
.plan-site .underline,
.contactfoot .underline,
.horaire .underline,
.inscription-newsletter .underline {
  padding-top: 15px;
}
.Marodesclean .underline .under-one,
.plan-site .underline .under-one,
.contactfoot .underline .under-one,
.horaire .underline .under-one,
.inscription-newsletter .underline .under-one {
  background-color: var(--text-white-color);
}
.Marodesclean .underline .under-two,
.plan-site .underline .under-two,
.contactfoot .underline .under-two,
.horaire .underline .under-two,
.inscription-newsletter .underline .under-two {
  background-color: var(--Primary-color);
}

.Marodesclean p,
.inscription-newsletter p {
  color: var(--text-white-color);
  font-size: 14px;
  line-height: 23.2px;
}
.inscription-newsletter .newsletter {
  display: flex;
  padding: 15px 0px;
}
.inscription-newsletter .newsletter .input {
  background: var(--text-white-color);
  border: none;
  padding: 10px 15px;
  width: 100%;
  font-size: 11px;
  margin-right: 3px;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.inscription-newsletter .newsletter .button {
  background: var(--Primary-color);
  border: none;
  color: var(--text-white-color);

  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 550;
  font-size: 14px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.inscription-newsletter .newsletter .button:hover {
  background: var(--third-color);
  color: var(--text-white-color);
}
.Marodesclean .footer-icons {
  padding: 15px 0;
}
.Marodesclean .footer-icons ul {
  display: flex;
  list-style: none;
}
.Marodesclean .footer-icons ul li {
  background: var(--third-color);
  padding: 5px 10px;
  margin-right: 10px;
}
.Marodesclean .footer-icons ul li:last-child {
  padding: 5px 12px;
}
.Marodesclean .footer-icons ul li a {
  text-decoration: none;
}
.Marodesclean .footer-icons ul li a i {
  color: var(--Primary-color);
  font-size: 18px;
}
.Marodesclean .footer-icons ul li a i:hover {
  color: var(--second-color);
}
.horaire {
  border: none;
}
.plan-site ul {
  list-style: none;
}
.plan-site ul li {
  padding: 5px 0px;
}
.plan-site ul li:first-child {
  padding-top: 0px;
}

.plan-site ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-white-color);
  font-size: 14px;
  line-height: 25px;
}
.plan-site ul li a:hover {
  color: var(--third-color);
}
.plan-site ul li a i {
  color: var(--Primary-color);
  padding-right: 5px;
  font-weight: bolder;
  font-size: 14px;
}
.plan-site ul li a i:hover {
  color: var(--text-white-color);
}

.contactfoot .container-footer div {
  padding-bottom: 15px;
  display: flex;
}
.contactfoot .container-footer div span {
  font-size: 14px;
  font-weight: lighter;
  line-height: 22.8px;
  color: var(--text-white-color);
  text-align: left;
}
.contactfoot .container-footer div span i {
  font-size: 20px;
  color: var(--Primary-color);
  cursor: pointer;
  margin-right: 10px;
}

.contactfoot .container-footer div span i:hover {
  color: var(--text-white-color);
}
.contactfoot .container-footer div span .fa-envelope {
  font-size: 17px;
}
.horaire .horaire-douveture {
  font-size: 14px;
  font-weight: lighter;
  line-height: 23.2px;
  color: var(--text-white-color);
  padding-bottom: 15px;
}

.horaire .horaire-douveture i {
  color: var(--Primary-color);
  margin-right: 10px;
  font-size: 16px;
}

/* Small devices (portrait tablets and large phones, 767px max) */
@media only screen and (max-width: 767px) {
  .all-footer-parts {
    display: block;
    padding: 40px 15px;
  }
  .all-footer-parts .footer-part .footer-part1,
  .all-footer-parts .footer-part .footer-part2 {
    display: block;
  }
  .footer-part .footer-part1 .plan-site,
  .footer-part .footer-part1 .contactfoot,
  .footer-part .footer-part2 .horaire,
  .footer-part .footer-part2 .inscription-newsletter {
    width: 100%;
    padding: 20px 0;
  }
  .footer-part2 .inscription-newsletter {
    padding-bottom: 0;
  }
  .footer-part {
    width: 100%;
    margin-left: 0px;
  }
  .footer-part .footer-part1 {
    padding-bottom: 0px;
  }
  .footer-part .footer-part2 {
    padding-top: 0px;
  }
  .Marodesclean {
    width: 100%;
  }
  .Marodesclean,
  .plan-site,
  .contactfoot,
  .horaire {
    width: 100%;
    border: none;
  }
  .img-footer {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .all-footer-parts {
    display: block;
    padding: 40px 15px;
  }
  .all-footer-parts .footer-part .footer-part1 {
    margin: 25px 0px 0px 0px;
  }
  .footer-part {
    width: 100%;
    margin: 0;
  }
  .footer-part .footer-part1 .plan-site,
  .footer-part .footer-part1 .contactfoot,
  .footer-part .footer-part2 .horaire,
  .footer-part .footer-part2 .inscription-newsletter {
    width: 100%;
  }
  .Marodesclean {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/*---------------------------------------------------------COPYRIGHT---------------------------------------------------*/
.Copyright {
  background: var(--text-white-color);
  padding: 20px 60px;
  color: var(--second-color);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9);
}
.Copyright span {
  font-weight: 600;
}

.Copyright a {
  text-transform: uppercase;
  color: var(--second-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.Copyright a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .Copyright {
    padding: 10px;
    font-size: 10px;
  }
  .Copyright a {
    font-size: 10px;
  }
}
/* IPAD AND WEB VERSION - MOBILE*/
@media screen and (max-width: 1300px) and (min-width: 770px) {
  .Copyright {
    font-size: 12px;
  }
  .Copyright a {
    font-size: 12px;
  }
}
