@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #fff; }
  
  ::-webkit-scrollbar-thumb {
      height: 100px;
    background: #929191;
}
/*stop scrolling*/
.stop-scrolling{
    overflow-y: hidden;
}
/* back to top button*/
.backToTop{
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: #007064;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0,0,0,.9);
    visibility: hidden;
    opacity: 1;
    z-index: 1000000000000000000;
}
.backToTop:hover{
    background: #01221f;
}
.backToTop{
color: #fff;
justify-content: center;
align-items: center;
text-align: center;
font-size: 30px;
}
.backToTop a{
    text-decoration: none;
    color: #fff;
}
.top{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}
/*Description section*/
.description-section{
   padding: 0 200px;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   font-weight: lighter;
}
/* title section*/
.title-section{
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
    color: #007064;
}
.center-text{
    text-align: center;
}
/*Padding for all website's parts*/
.section-padding{
    padding: 100px 60px;
}
/* padding for all section's container*/
.container-padding{
    padding-top: 100px;
}
.container{
    position: relative;
    min-height: 100vh;
}
/* Cookies */
.close{
    display: none;
}
.fixcookies{
    z-index: 0;
}
.cookies{
    position: relative;
    top: 0px;
    left: 0px;
    transform: translate(-0,-0);
    background: #fff;
    padding: 0 60px;
    opacity: 0.9;
    color: #007064;
    width: 100%;
    font-size: 13px;
    z-index: 13;
}
.cookies .cookies-container{
    display: flex;
    padding: 16px 0;
}
.cookies .cookies-container p{
    padding: 5px 0px;
}
.cookies i{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top:0;
    font-size: 15px;
    z-index: 100;
}
.cookies a {
    font-weight: 500;
    background: #007064;
    padding: 6px 15px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 20px;
    color: #fff;
    z-index: 100;
}
/* Underline title*/
.under-pos{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.under-cont-pos{
    position: relative;
    padding: 15px 0;
}
.first-under{
    margin-right: 10px;
}
.first-second-under{
    height: 2px;
    width: 70px;
    background: #007064;
}
.second-under{
    width: 10px;
    background: #007064;
}

/*------------------------------------------------------Acceuil---------------------------------------------------------*/
#home{
    background: #fff;
    padding-top: 0;
}
.home-section{
    position: relative;
    display: block;
}
.green-background{
    position: absolute;
    top:0;
    left:0;
    content: "";
    background: #007064;
    width: 360px;
    height: 100vh;
    z-index: 11;
}
.description-home{
    position: absolute;
    left: 0;
    width: 380px;
    height: 100vh;   
    z-index: 13;
}
.icons{
    z-index: 13;
    position: absolute;
    top: 90%;
    right: 10px;
    transform: translate(-10px,-90%);
}
.icons .icon li{
    list-style: none;
    margin-right: 22px;
}
.icons .icon li i{
    max-height: 24px;
    font-size: 28px;
    color: #007064;
}
.icons .icon li i:hover{
    color: #fff;
}
.icons .icon li:hover i{
    transform: translateY(-10px);
}
.icons .icon{
    position: relative;
    display: flex;
}
.desc{
    display: block;
    position: absolute;
    height: 100vh;
    width: 500px;
    top: 50%;
    transform: translate(0,-50%);
}
.desc .contain{
    width: 700px;
    position: absolute;
    top: 25%;
    left: 60px;
    z-index: 10000000000000;
    display: inline-block;
}
.desc .contain h2{
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
}
.desc .contain .input{
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 18px;
    background: #fff;
    color: #007064;
}
.desc .contain .input:hover{
    background: #01221f;
    color: #fff;
    font-weight: 400;
}
.desc .contain p{
    color: #fff;
    font-size: 17px;
    line-height: 23.2px;
    font-weight: 500;
}
.cont-slid{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    background: #111;
}
.slider{
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    z-index: 12;
}
.slides{
    display: flex;
    width: 500%;
    max-height: 100vh;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    max-height: 100vh;
    opacity: 0.2;
    background-attachment: fixed;
}
.navigation-manual{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-5%);
    bottom: 5%;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border:2px solid #007064;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:hover{
    background: #fff;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%,-5%);
    display: flex;
    justify-content: center;
}
.navigation-auto div{
    border: 2px solid #007064;
    border-radius: 10px;
    transition: 1s;
    padding: 5px;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #fff;
}
.MenuPlusLogo{
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 1000000000000000000000000000000000000000000;
    padding: 0px 30px; 
    width: 100%;
    position: absolute;
    top: 0;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    top: 63px;
    z-index: 13;
}
.fix-navbar{
    position: fixed;
    top: 0;
    background: #007064;
}
.fix-navbar .MenuPlusLogo{
    background: #007064;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.295);
}
.fix-navbar .MenuPlusLogo ul li a {
    color: #fff;
}

.MenuPlusLogo .logo-header{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 25px;
}
.MenuPlusLogo .logo-header img{
    width: 270px;
    height: 75px;
    z-index: 12;
}
.MenuPlusLogo ul{
    z-index: 1;
    text-align: right;
    position: relative;
    display: flex;
}
.MenuPlusLogo ul li {
    list-style: none;
    margin-left:60px;
    padding: 6px;
}
.MenuPlusLogo ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13.5px;
    line-height: 30.3px;
    font-weight: 500;
    padding: 6px;
    color: #fff;
    text-decoration: none;
}
.MenuPlusLogo ul li a:hover,header ul li a.active {
    color: #fff;
    font-weight: 500;
}
.MenuPlusLogo ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#007064;
    z-index: -1;
    transition: 0.5s ease-in-out;
}
.MenuPlusLogo ul li a:hover:before,header ul li a.active:before{
    width: 100%;
}

/*version mobile*/
@media only screen and (max-width: 768px) {
    .icons{
        padding: 20px 0;
        margin-right: 0;
    }
    .icons .icon li{
        text-align: left;
        margin-left: 20px;
        margin-right: 0px;
    }
    .icons .icon li:first-child{
        margin-left: 0;
    }
    .icons .icon li a{
        margin-bottom: 0px;
    }
    .description-home{
       width: 100%;
    }
    .description-home .desc{
        width: 100%;
    }
    .description-home .desc .contain{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    padding: 0 20px;
    }
    .description-home .desc .contain p{
        font-size: 14px;
    }
    .description-home .desc .contain .input{
        padding: 13px;
        font-size: 14px;
    }
    .description-home .desc .contain h2{
        font-size: 28px;
        width: 100%;
    }
    .fix-navbar{
        display: none;
    }
    .cookies{
        padding: 10px;
    }
    .cookies .cookies-container{
     display: block;
     padding: 5px 0;
    }
    .cookies .cookies-container p{
        margin-bottom: 10px;
    }
    .cookies .cookies-container a{
        margin: 10px 10px 10px 0px;
    
    }
    .container{
        min-height: 100vh;
    }
    .Fixed{
        position: absolute;
    }
    .MenuPlusLogo .logo-header img{
        width: 230px;
        height: 60px;
        margin-left: -35px;
        margin-top: 10px;
     } 
    .MenuPlusLogo .toggle{
        position: absolute;
        width: 60px;
        height: 35px;
        top: 30px;
        right: 20px;
        cursor: pointer;
        z-index: 20;
      }
      .MenuPlusLogo .toggle span{
          position: absolute;
          background: #fff;
          right: 0;
          width: 50px;
          height: 2.5px;
          transition: 0.6s;
        }
        .MenuPlusLogo .toggle .one{
          top: 0;
      }
      .MenuPlusLogo .toggle .two, .MenuPlusLogo .toggle .three{
          top: 16px;
          background:#007064;
          width: 30px;
      }
       header .toggle .four{
          top: 30px;
      }
      .MenuPlusLogo .active .one, .MenuPlusLogo .active .four{
          display: none;
      }
      .MenuPlusLogo .active .two{
          transform:rotate(45deg);
          width: 45px;
          background: #fff;
      }
      .MenuPlusLogo .active .three{
          transform:rotate(-45deg);
          width: 45px;
          background: #fff;
      }
      .MenuPlusLogo ul{
        padding: 100px 10px ;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100vh;
        color: #fff;
        background: #007064;
    }
    .MenuPlusLogo  .active{
        display: block;
    }
    .stop-scrolling{
        overflow-y: hidden;
    }
    .MenuPlusLogo ul li {
        margin:0;
    }
    .MenuPlusLogo ul li a{
        position: relative;
        text-decoration: none;
        padding: 30px 0;
        font-size: 1.5em;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    .MenuPlusLogo ul li a:hover,header ul li a.active {
       font-weight: 700;
    }

    .green-background{
        width: 45%;
    }
    .slide{
        height: 100%;
    }
    .slide img{
        height: 100vh;
        width: 100%;
    }
    .navigation-auto,.navigation-manual{
      bottom: 19px;
    }
}
/*IPad Pro*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .slide{
        height: 100%;
    }
    .slide img{
        height: 100vh;
        width: 100%;
    }
    .MenuPlusLogo ul li {
        list-style: none;
        margin-left:30px;
        padding: 6px;
    }
}
/*------------------------------------------------------A PROPOS----------------------------------------------------*/
#Apropos{
    background:#007064;
    height: 100%;
}
.Apropos-section .content-box .Underline-container .Underline{
    display: flex;
    padding: 15px 0;
}
.Apropos-section .content-box .Underline-container .Underline .first-underline{
    height: 2px;
    width: 70px;
    background: #fff;
    margin-right: 10px;
}
.Apropos-section .content-box .Underline-container .Underline .second-underline{
    height: 2px;
    width: 10px;
    background: #fff;
}
.Apropos-section .content-box .title-section{
    color: #fff;
}
.Apropos-section .content-box .text-section{
    margin-top: 20px;
    width: 80%;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
}
.Apropos-section .Apropos_container{
    display: flex;
}
.Apropos-section .Apropos_container .text-icons{
    width: 50%;
}
.Apropos-section .Apropos_container .Apropos-image{
    background-image: url(./images/desinfection\ savoir\ plus.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
    border: 15px solid #fff;
    opacity: 1;
    cursor: pointer;
}
.Apropos-section .Apropos_container .text-icons .Apropos-icons{
    right: 30px;
    display: flex;
}
.Apropos-section .Apropos-icons .icon{
    position: relative;
    display: flex;
}
.Apropos-section .Apropos_container .text-icons .Apropos-icons .icon li{
    list-style: none;
    margin-right: 23px;
    margin-top: 40px;
}
.Apropos-section .Apropos_container .text-icons .Apropos-icons .icon li i{
    display: inline-block;
    max-height: 24px;
    font-size: 25px;
    color: #fff;
}
.Apropos-section .Apropos_container .text-icons .Apropos-icons .icon li i:hover{
    color: #01221f;
}
@media only screen and (max-width: 768px) {
    .Apropos-section .section-padding .content-box .title-section{
        font-size: 32px;
    }
    .section-padding{
        padding: 100px 20px;
    }
    .Apropos-section .Apropos_container{
        display: block;
    }
    .Apropos-section .Apropos_container .text-icons{
        width: 100%;
        margin-bottom: 30px;
    }
    .Apropos-section .content-box .text-section{
        width: 100%;
    }
    #Apropos .Apropos-image{
        height: 500px;
        width: 100%;
    } 
  
}
/*IPad Pro*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
 
}
/*------------------------------------------------------NOS SERVICES----------------------------------------------------*/

#Services{
    background: #ffffff;
}

#Services .content-box .description-section{
    color: #3c3c3c;
}
.card_box{
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.card_box .card{
    position: relative;
    width: 450px;
    background: #fff;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
    padding: 40px;
    margin-left:40px;
    margin-right:40px;
}
.card-margin-bottom{
    margin-bottom: 40px;
}
.card_box .card:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #007064;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 2.5s;
}
.card_box .card img{
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
    height: 300px;
    position: relative;
}
.card_box .card h3{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 15px;
    color: #3c3c3c;
}
.card_box .card h3 i {
    color: #007064;
    margin: 0 10px;
    font-size: 9px;
}
.card_box .card:hover:before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 1.5s;
}
.card_box .card:hover h3,.card_box .card:hover p{
color: #fff;
}
.card_box .card:hover a{
      color: #007064;
      border: 2px solid #007064;
      font-weight: 600;
      background: #fff;
}
.card_box .card:hover h3 i{
    color: #fff;
}
.card_box .card p{
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 23.2px;
    position: relative;
    color: #3c3c3c;
    min-height: 170px;
}
.card_box .card a{
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 25px;
    background: #007064;
    bottom: 0;
    
}
#Services .content-box .title-section{
    color: #007064;
}
@media only screen and (max-width: 768px) {
    #Services .content-box p{
        font-size: 15px;
        width: 100%;
        padding:10px;
        margin: 0;
    }
    .card_box .card{
        width: 100%;
        margin: 20px 5px;
        padding: 25px;
    }
    .card_box .card h3{
        font-size: 22px;
    }
}
/*IPad Pro*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .card_box .card{
        margin: 20px 5px;
    }
      
}
/*------------------------------------------------------IMPLICATION TOTALE----------------------------------------------------*/
.procedures{
    height: 100%;
    background:url(./images/desinsectisation\ savoir\ plus\ 1.jpg);
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
}

.procedures .content-box .title-section{
    position: relative;
}

.procedures .procedure-backgroundcolor{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;  
    background: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.procedures .procedure-box{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.procedures .procedure-box .content-part1,.procedures .procedure-box .content-part2{
    text-align: center;
    width: 50%;
}
.procedures .procedure-box .content-part1 .procedure,.procedures .procedure-box .content-part2 .procedure{
    min-height:250px ;
    padding: 0 120px;
}
.procedures .procedure-box .procedure .border i{
    cursor: pointer;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid #007064;
    padding: 15px 20px;
    background: #007064;
    color: #fff;
    margin-bottom: 12px;
}
.procedures .procedure-box .procedure .border i:hover{
    border: 2px solid #01221f;
    background: #01221f;
}
.procedures .reservation{
    position: relative;
    text-align: center;
    margin-top: 100px;
}
.procedures .reservation #reservez{
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    border:none;
    background: #007064;
    padding: 17px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.procedures .reservation #reservez:hover{
    background: #01221f;
    color: #fff;
    font-weight: 500;
}
@media only screen and (max-width: 768px) {
    .procedures .procedure-box .content-part1,.procedures .procedure-box .content-part2{
        padding: 0;
        width: 100%;
    }
    .description-section{
        text-align: center;
        padding: 0;
        font-size: 15px;
    }
    .procedures .procedure-box{
        display: block;
    }
    .procedures .reservation #reservez{
        padding: 20px;
        font-size: 18px;
    }   
    .procedures .procedure-box .content-part1 .procedure,.procedures .procedure-box .content-part2 .procedure{
        padding:20px;
    }
}
/*IPad Pro*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .procedures .procedure-box .content-part1 .procedure,.procedures .procedure-box .content-part2 .procedure{
        padding: 20px 50px;
    }
}

/*------------------------------------------------------CONTACT ----------------------------------------------------*/
#Contact{
    background: #ffffff;
}
.Contact-section .content-box{
    width: 80%;
    color: #007064;
}
.Contact-section{
    position: relative;
    display: flex;
    flex-direction: column;
}
.Contact-section .content-box,
.Services-section .content-box,
.procedures .content-box{
    position: relative;
    width: 100%;
}
.Contact-section .content-box .description-section{
    color: #3c3c3c;
}
.Contact-section .content-box p,.Services-section .content-box p{
    color: #3c3c3c;
}
.Contact-section .section-padding .contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Contact-section .section-padding .contact-container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column; 
}
.Contact-section .section-padding .contact-container .contactInfo .box{
    position: relative;
    display: flex;
}
.Contact-section .section-padding .contact-container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #007064;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
}
.Contact-section .contact-container .contactInfo .box{
    padding: 20px 0;
}
.Contact-section .contact-container .contactInfo .box .icon{
    color: #fff;
}
.Contact-section .contact-container .contactInfo .box .text h3{
    color: #3c3c3c;
}
.Contact-section .contact-container .contactInfo .box .text h3,
.procedures .procedure-box .procedure h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
}
.Contact-section .contact-container .contactInfo .box .text{
    color: #3c3c3c;
}
.Contact-section .contact-container .contactInfo .box .text,.procedures .procedure-box .procedure p{
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    line-height: 23.4px;
    flex-direction: column;
    font-weight: lighter;
}
.contactForm{
    width: 50%;
    padding:60px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.contactForm h2{
    font-size: 28px;
    text-align: center;
    color: #007064;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputbox input,.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0 ;
    font-size: 16px;
    margin: 10px 0 ;
    border: none;
    border-bottom: 1px solid #007064;
    outline: none;
    resize: none;
}
.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 14.5px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #007064;
}
.contactForm .inputbox input:focus ~ span,.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,.contactForm .inputbox textarea:valid ~ span{
    color: #007064;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"],.procedures #revervez{
    min-width: 200px;
    background: #007064;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 27px;
    font-weight: lighter;
    color: #fff;
}
.contactForm .inputbox input[type="submit"]{
    padding: 10px;
    width: 100px;
}
.contactForm .inputbox input[type="submit"]:hover{
    background: #01221f;
}
.modal-container{
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;  
    visibility: hidden; 
}
.modal-container.show{
    visibility: visible;
    background: #EDEDED;
    z-index: 1000000000000000000000000000;
}
.modal{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px 50px;
    border-radius: 2px;
    background: #fff;
    width: 600px;
    max-width: 100%;
    text-align: center;
}
.modal h1{
    text-align: left;
    font-size: 26px;
    color: #262626;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}
.modal h1 i{
    color: #007064;
    font-size: 32px;
    margin-left: 4px;
}
.modal p{
    text-align: left;
    font-size: 14px;
    opacity: 0.7;
    padding: 20px 0px;
    line-height: 22.5px;
}
.modal button{
  
    background: #007064;
    border: 0px solid #fff;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 7px 35px;
    color: #fff;
    cursor: pointer;
}
.modal button:hover{
    background: #01221f;
}
.erreur{
    background: #ffe0e0;
    padding: 10px 10px;
    color: #262626;
    font-size: 13px;
    display: none;
}
.erreur i{
    font-size: 16px;
    margin-right: 5px;
    color: #262626;
}

.nom.show,.prenom.show,.mobile.show,.email.show, .objet.show{
    display: block;
}

@media only screen and (max-width: 768px) {
.Contact-section .contact-container{
        flex-direction: column;
    }
    .Contact-section .section-padding .contact-container .contactInfo{
        margin-bottom: 40px;
        width: 100%;
    }
    .Contact-section .contact-container .contactInfo,.Contact-section .contact-container .contactForm{
        width: 100%;

    }
    .Contact-section .contact-container .contactForm{
        width: 100%;
        padding: 20px 20px;
        margin: 5px;
    }
    .contactForm h2{
        font-size: 22px; 
    }
}
/*IPad Pro*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}
/*----------------------------------------------------------------------AVANTAGES--------------------------------------------*/
.avantages{
    background: #007064;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 18px;
   }
   .avantages .avantage .border{
       cursor: pointer;
       position: relative;
       padding: 15px 25px;
       border-radius: 50%;
       border: 2.5px solid #fff;
       margin-right: 15px;
   }
   .avantages .avantage .border i{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       color: #fff;
       font-size: 27px;
   }
   .avantages .avantage span{
       font-weight: 500;
       font-size: 18px;
   }

   @media only screen and (max-width: 768px) {
   .avantages{
      display: block;
      padding: 0px ;
    }
    .avantages .avantage{
        padding: 50px  10px ;
    }
   }
   @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .avantages .avantage{
        display: flex;
        padding-right: 20px;
    }
    }

/*----------------------------------------------------------------------FOOTER*-------------------------------------------*/
.footer{
    position: relative;
}
.img-footer{
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   height: 100px;
   width: 100%;
   height: 100%;
   opacity: 0.2;
}
.all-footer-parts{
    display: flex;
    margin-bottom: 0;
    padding: 100px 60px;
}
.Marodesclean,.plan-site,.contactfoot,.horaire{
  width: 25%;
  padding: 15px;
  z-index: 1000000;
}
.Marodesclean h2,.plan-site h2,.contactfoot h2,.horaire h2{
    color: #007064;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bolder;
}
.both{
    display: flex;
    padding: 10px 0;
    margin-bottom: 20px;
}
.both .trait2{
    width: 10px;
    height: 2px;
    background: #007064;
}
.both .trait1{
    margin-right: 5px;
    width: 50px;
    height: 2px;
    background: #007064;
}
.Marodesclean p{
color: #3c3c3c;
font-size: 15px;
line-height: 23.2px;
}
.horaire{
    border: none;
}
.plan-site ul{
    list-style: none;
}
.plan-site ul li{
    padding: 5px 0px;
}
.plan-site ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 25px;
}
.plan-site ul li a:hover{
    color: #007064;
}
.plan-site ul li a i{
    color: #007064;
    padding-right: 5px;
    font-weight: bolder;
    font-size: 14px;
}

.contactfoot .container-footer div span i:hover{
    color: #007064;
}
.contactfoot .container-footer div{
    padding-bottom: 15px;
    display: flex;
}
.contactfoot .container-footer div span{
    font-size: 14px;
    font-weight: lighter;
    line-height: 22.8px;
    color: #3c3c3c;
    text-align: left;
}
.contactfoot .container-footer div span i{
    font-size: 20px;
    color: #007064;
    cursor: pointer;
    margin-right: 10px;
}
.contactfoot .container-footer div span .fa-envelope{
    font-size: 17px;
}
.horaire .horaire-douveture{
    font-size: 14px;
    font-weight: lighter;
    line-height: 23.2px;
    color: #3c3c3c;
    padding-bottom: 15px;
}

.horaire .horaire-douveture i {
    color: #007064;
    margin-right: 10px;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
.all-footer-parts{
        display: block;
        padding: 40px 5px;
    }
    .Marodesclean,.plan-site,.contactfoot,.horaire{
        width: 100%;
        border: none;
    }

 }
/*---------------------------------------------------------COPYRIGHT---------------------------------------------------*/
.Copyright{
    background: #007064;
    padding: 30px 60px;
    color: #ebe9e9;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
.Copyright a{
    text-transform: uppercase;
    color:#ebe9e9;
    text-decoration: none;
    font-size: 15px;
}
.Copyright a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 768px) {
    .Copyright{
        padding: 10px;
        font-size: 12px;
    }
    .Copyright a{
    font-size:12px;
    }

}


/*---------------------------------------------------------SERVICE DETAILS----------------------------------------------*/
.service-details{
    font-family: 'Open Sans', sans-serif;
    background: #007064;
    color: #01221f;
    font-size: 22px;
    padding: 100px 60px;
}
.service-details .service-container{
    background: #ebebeb;
    padding: 100px 60px ;
    box-shadow: 0 15px 30px rgba(0,0,0,.9);
    position: relative;
}
.service-details .service-container img{
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.service-details .service-container .titre-societe{
    opacity: 0.5;
    color: #007064;
    font-size: 80px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Arizonia', cursive;
    margin-top: 50px;
    letter-spacing: 5px;
}
.service-details .service-container .service-exemple{
    padding: 10px 0;
}
.service-details .service-container .service-exemple h3{
    text-transform: uppercase;
}
.service-details .service-container p,.service-details .service-container ul li a{
    line-height: 30px;
    font-size: 17px;
}
.service-details .service-container .trait{
    background: #01221f;
    width: 100px;
    height: 4.5px;
}
.service-details .service-container h2{
    font-size: 45px;
    text-transform: uppercase;
    line-height: 30px;
    padding-bottom: 25px;
}
.service-details .service-container h3 {
    font-size: 22px;
}
.service-details .service-container h3 i{
    font-size: 8px;
    margin-right: 10px;
}

.service-details .service-container ul li{
   list-style: none;
}
.service-details .service-container ul li a i{
    font-size: 17px;
    margin-right: 15px;
}
.service-details .service-container ul li a{
    cursor: text;
    text-decoration: none;
    color: #01221f;
}
.service-details .service-container h3 .fa-check{
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
    .service-details{
        padding: 80px 10px;
    }
    .service-details .service-container{
        padding: 50px 20px;
    } 
    .service-details .service-container .titre-societe{
        font-size: 45px;
    }
    .service-details .service-container h2{
     font-size: 30px;
     padding: 10px 0;
    }
 
}


/*---------------------------------------------------------MENTIONS----------------------------------------------------*/

.mentions{
    padding: 80px 60px;
    background: #007064;
    color: #fff;
    line-height: 23.7px;
}
.mentions_newpage h1{
    padding: 20px 0;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 40.7px;
}  
.mentions_newpage h2{
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}  
.mentions_newpage p{
    color: #fff;
    font-size: 17px;
    padding: 10px 0;
}
.mentions_newpage p a{
    text-decoration: none;
    color: #fff;
}
.mentions_newpage p a:hover{
    text-decoration: underline;
}
.trait{
    width: 100px;
    height: 5px;
    background: #fff;
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .mentions{
        padding: 80px 20px;
    } 
    .mentions_newpage h1{
    font-size: 25px;
    line-height: 30px;
    }

}