/* Small devices (portrait tablets and large phones, 767px max) */
@media only screen and (max-width: 767px) {
  .Apropos-section .section-padding .content-box .title-section {
    font-size: 25px;
  }
  .section-padding {
    padding: 100px 20px;
  }
  .Apropos-section .Apropos_container {
    display: block;
  }
  .Apropos-section .Apropos_container .text-icons {
    width: 100%;
    margin-bottom: 30px;
  }
  .Apropos-section .content-box .text-section {
    width: 100%;
    font-size: 14px;
  }
  #Apropos .Apropos-image {
    height: 500px;
    width: 100%;
    border: 10px solid var(--Primary-color);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Apropos-section .section-padding .content-box .title-section {
    font-size: 32px;
  }
  .section-padding {
    padding: 100px 20px;
  }
  .Apropos-section .Apropos_container {
    display: block;
  }
  .Apropos-section .Apropos_container .text-icons {
    width: 100%;
    margin-bottom: 30px;
  }
  .Apropos-section .content-box .text-section {
    width: 100%;
  }
  #Apropos .Apropos-image {
    height: 500px;
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
